
#longartbox {
    background-color: black;
    height: 40px;
}

#storybox {
    background-color: burlywood;
}

#questionbox {
    background-color: lightblue;
    height: 40px;
}

.boxofboxes {
    display: grid;
    height: 40px;
}

.buttonsubbox{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

#artgrid {
    background-color: green;
}