#StorytellerContent {
    font-family: monospace;
}

#longartbox {
    background-color: black;
    height: 40px;
}

#storybox {
    background-color: burlywood;
    font-family: fantasy, sans-serif, monospace;
}

#storybox h1{
    text-align: center;
}


#questionbox {
    background-color: lightblue;
    height: 40px;
}

.boxofboxes {
    display: grid;
    height: 40px;
}

.buttonsubbox{
    display:flex;
    justify-content: center;
    align-items: center;
}

#buttongrid{
    background-color: lightblue;
}

#artgrid {
    background-color: green;
}